<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>481961405450-hmlnpihga6j7oot0p2pv3a1som06lj3j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481961405450-hmlnpihga6j7oot0p2pv3a1som06lj3j</string>
	<key>API_KEY</key>
	<string>AIzaSyBDgU9WdvsUNDbBpfViNUWkdY8hxx65bwk</string>
	<key>GCM_SENDER_ID</key>
	<string>481961405450</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ttt.togolist</string>
	<key>PROJECT_ID</key>
	<string>robust-carver-306011</string>
	<key>STORAGE_BUCKET</key>
	<string>robust-carver-306011.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:481961405450:ios:9e584b5a54d92eeb7243f3</string>
</dict>
</plist>